---
- name: Check if config directory exists
  stat:
    path: "{{ home_directory }}/repositories/dotfiles"
  register: dot_files_directory
  tags:
    - dotfiles

- name: Clone dot-files
  git:
    repo: "{{ dotfiles_repo }}"
    dest: "{{ home_directory }}/repositories/dotfiles"
    refspec: +refs/pull/*:refs/heads/*
    version: main
  when: not dot_files_directory.stat.exists
  tags:
    - dotfiles

- name: Remove links
  file:
    path: "{{ home_directory }}/{{ item }}"
    state: absent
  loop:
    - .vimrc
    - .bashrc
    - .zshrc
    - .gitconfig
  tags:
    - dotfiles

- name: Add config links
  file:
    src: "{{ home_directory }}/repositories/dotfiles/{{ item }}"
    dest: "{{ home_directory }}/{{ item }}"
    owner: "{{ username }}"
    group: "{{ usergroup }}"
    state: link
  loop:
    - .vimrc
    - .bashrc
    - .zshrc
    - .aliases
    - .zshenv
    - .bashrc
  tags:
    - dotfiles

- name: Link folder
  file:
    src: "{{ home_directory }}/repositories/dotfiles/{{ item }}"
    dest: "{{ home_directory }}/{{ item }}"
    owner: "{{ username }}"
    group: "{{ usergroup }}"
    state: link
  loop:
    - .vim
  tags:
    - dotfiles

- name: Create .config directory if it does not exist
  file:
    path: "{{ home_directory }}/.config"
    state: directory
    mode: "0750"
  tags:
    - dotfiles

- name: Add .config programm links
  file:
    src: "{{ home_directory }}/repositories/dotfiles/{{ item }}"
    dest: "{{ home_directory }}/.config/{{ item }}"
    owner: "{{ username }}"
    group: "{{ usergroup }}"
    state: link
  loop:
    - wofi
    - waybar
    - code
    - hypr
    - dunst
    - fontconfig
  tags:
    - dotfiles

- name: Check if vim themes
  stat:
    path: "{{ home_directory }}/.vim/pack/themes/start"
  register: vim_theme_path
  tags:
    - dotfiles

- name: Create vim themes
  file:
    path: "{{ home_directory }}/.vim/pack/themes/start"
    state: directory
    mode: "0750"
  tags:
    - dotfiles

- name: Clone vim dracula
  git:
    repo: https://github.com/dracula/vim.git
    dest: "{{ home_directory }}/.vim/pack/themes/start/dracula"
    refspec: +refs/pull/*:refs/heads/*
    version: master
  when: not vim_theme_path.stat.exists
  tags:
    - dotfiles
