name: check

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout git repo
        uses: actions/checkout@v3

      - name: lint
        uses: ansible/ansible-lint@v6.22.2
